/node_modules
.env

# Production build
/build

# Testing
/coverage
__snapshots__/
test-results/

# Cypress E2E Tests
cypress/videos
cypress/screenshots
cypress/downloads
cypress/results
.env.test
.env.cypress
*.cy.js.mp4

# IDE
.vscode

MyWorld*.json